.alert-error-container {
    display: none;
    background-color: #CF2929;
    align-items: center;
    position: fixed;
    bottom: 10px;
    max-width: 300px;
    width: 100%;
    border-radius: 4px;
    padding: 18px;

    &.visible {
        display: flex;
    }

    .error-icon {
        position: absolute;
        top: 4px;
        left: 6px;
        padding: 2px;
    }
    .close-icon {
        position: absolute;
        right: 8px;
        top: 7px;
    }
    p {
        font-size: 14px;
        margin-left: 15px;
        color: #FFFFFF;
        max-width: 230px;
        width: 100%;
        overflow-wrap: break-word;
    }

}

